<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="environment" value="DEV"/>

    <add key="Input_Directory" value="F:\feature\stock_advisor\Stock_Advisor_Windows_Service\bin\Debug\iex"/>

    <!--In UTC-->
    <!--UTC: 22 is ET:17-->
    <!--Market Closes at 16-->
    <!--<add key="IEXTrading_Top_Last_hour" value="22"/>

    <add key="smtp_server" value="smtp.gmail.com"/>
    <add key="smtp_server_port" value="587"/>
    <add key="smtp_username" value="ahtahkr@gmail.com"/>
    <add key="smtp_password" value="Falgunfeb11!"/>-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DEV" connectionString="Data Source=AADHIKARI10\SQLEXPRESS;Initial Catalog=test;Persist Security Info=True;User ID=developer;Password=developer"/>
    <add name="Home_Desktop" connectionString="Data Source=DESKTOP-BJ0AH8G;Initial Catalog=austin_stock_advisor;User ID=ashadhik;Password=ashadhik;"/>
  </connectionStrings>
</configuration>