<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="environment" value="DEV"/>

    <add key="IEXTrading_Chart_option" value="5y"/>

    <add key="IEXTrading_Top_Last_hour" value="18"/>
    <add key="IEXTrading_Top_Last_minute" value="00"/>

    <add key="IEXTrading_Files_dir" value=""/>


    <add key="Upload_Files" value="true"/>
    <add key="IEXTrading_Chart" value="true"/>
    <add key="IEXTrading_Chart_Date" value="true"/>
    <add key="IEXTrading_Top_Last" value="true"/>
    <add key="IEXTrading_Get_News" value="true"/>
    
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DEV" connectionString="Data Source=AADHIKARI10\SQLEXPRESS;Initial Catalog=austin_stock_processor;Persist Security Info=True;User ID=developer;Password=developer"/>
    <add name="DEV" connectionString="Data Source=DESKTOP-BJ0AH8G;Initial Catalog=austin_stock_processor;User ID=ashadhik;Password=ashadhik;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>