# Add any directories, files, or patterns you don't want to be tracked by ve
Web_Development/Stock_Advisor_Web_App/bin
Web_Development/Stock_Advisor_Web_App/obj
Web_Development/Stock_Advisor_Window_Service/obj
Web_Development/Stock_Advisor_Window_Service/bin
Web_Development/.vs/
Web_Development/CoreLibrary/bin/
Web_Development/CoreLibrary/obj/
Web_Development/IEXTrading/bin/
Web_Development/IEXTrading/obj/
Web_Development/Library/bin/
Web_Development/Library/obj/
Web_Development/packages/
Austin_Stock_Advisor/Austin_Stock_Advisor/bin
Austin_Stock_Advisor/Austin_Stock_Advisor/obj
Austin_Stock_Advisor/.vs