
@{
    ViewData["Title"] = "Layout";
}

<head>
    <link href="@Url.Content("~/StyleSheet.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/bootstrap-4.0.0-dist/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="~/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>

</head>

<body>
    <nav class="nav fixed-top bg-primary">
        <div class="nav-link text-white text-lg-center font-weight-bold">Website Name</div>
        @*<div class="nav-link">@Html.RouteLink("Home", new { action = "Index", controller = "Symbol", area = "Symbol" }, new { @class = "text-white text-sm-center font-weight-bold" })</div>*@
    </nav>

    <br /> <br />
    

    <div class="container-fluid h-100"> @RenderBody() </div>

</body>