@model AustinsFirstProject.Github_Api.Model.Repository
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Index";
}

<h2>Repository</h2>

<p>GitHub Url: <a href="@Model.HtmlUrl" target="_blank">@Model.HtmlUrl</a></p>



<p>@Model.Api_String</p>