@using Newtonsoft.Json;
@model AustinsFirstProject.CoreLibrary.Database.Companies

@{
    ViewData["Title"] = "Index";
    string robinhood = "";
}

<h2>Index</h2>

<div>
    <h4>Companies</h4>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Shares</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model._companies)
            {

                @if(item.Robinhood) { robinhood = "#4CAF50"; } else { robinhood = "#f44336"; }
                <tr>
                    @*<td>@JsonConvert.SerializeObject(@item))</td>*@
                    <td>
                        @Html.ActionLink(@item.Ticker, "Index", "Ticker", new { area = "Index" , ticker = item.Ticker })
                    </td>
                    <td>
                        <button style="background-color: @robinhood;">Robinhood</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
