@using Newtonsoft.Json;
    
@model AustinsFirstProject.Git_Web_App.Model.Committers;
@{
    ViewData["Title"] = "Committers";
    Layout = "~/Views/Static/Layout.cshtml";
}

<div class="container-fluid">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row container-fluid"><p class="h6 text-center text-capitalize">Committers</p></div>
                <div class="row">
                    <div class="list-group">
                        @foreach (var item in Model.Authors)
                        {
                              <a onclick="Committer_Selected('@item.Email','@JsonConvert.SerializeObject(Model.Repo_Url)')" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@item.Name</h5>
                                        <small>LastUpdate</small>
                                        </div>
                                        <p class="mb-1">@item.Email</p>
                                        <small>Last Updated</small></a>
                        }
                    </div>
                </div>
                </div>

            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>

</div>

<script>
    function Committer_Selected(_email, _repo_url) {
        var jsonData = {};
        jsonData['email'] = _email;
        jsonData['repo_url'] = _repo_url;

        jsonData = JSON.stringify(jsonData);

        console.log(jsonData);

        $.post("/Home/Committer_Selected", { _input: jsonData })
            .fail(function (e) {
                console.log('Error [/Home/Committer_Selected] Msg: ' + e);
            })
            .done(function (result) {
                console.log('Post Result: ' + result);
            });
    }
</script>