@model AustinsFirstProject.Git_Web_App.Model.Git_Url_Basic_Info;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Static/Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <p>@Model.Name</p>
    <p>@Model.IsValid</p>
    <p>@Model.Url</p>
</div>

