@using Newtonsoft.Json;

@model AustinsFirstProject.Git_Web_App.Areas.Home.Models.Home

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Get_Title()</h2>

@foreach( var item in Model.Name_Url)
{
    <div>
       @JsonConvert.SerializeObject(item)
    </div>
}