@using Newtonsoft.Json;

@model AustinsFirstProject.Git_Web_App.Areas.Home.Models.Home

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Static/Layout.cshtml";
}

<div>
    @if (Model.Name_Url.Count > 0)
    {
        @foreach (var item in Model.Name_Url)
        {
            <div>
                <h2>@item["name"]</h2>
                <p>@item["url"]</p>
                @*@JsonConvert.SerializeObject(item)*@
            </div>
        }
    }
    else
    {
        <div>Navigate to Setup in Header bar.</div>
    }
</div>
